body{
  font-family: 'Alegreya Sans SC', sans-serif;
  max-width: 1300px;
  overflow-x: hidden;
}

header{
  height: 125px;
}

nav {
  padding: 10px 0 10px 70px;
  background: url('../img/long_nav.jpg') repeat;
}

nav a, nav p{
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  padding-left: 90px;
  -webkit-transition: all 300ms;
  color: white;
}

nav a:hover {
  color: black;
  border-bottom-color: #BBB;
}

h1 {
  float: left;
  font-size: 70px;
  padding-left: 157.5px; 
  color: #303030;
  margin: 20px 0 0 0;
  font-weight: bolder;
}

.button {
  border-radius: 15px;`
  padding: 4px 10px 4px 10px;
  background: #C0C0C0;
  text-align: center;
  color: #303030;
  margin-right: 2px;
  font-weight: bold;
  margin-top: 2px;
  width: 250px;
  cursor: pointer;
  height: 50px;
  font-size: 1.4em;
}

.button a {
  line-height: 50px;
}

.parts {
  position: absolute;
  cursor: pointer;
}

#pig{
  margin-left: auto;
  margin-right: auto;
  /*left: 120px;*/
  top: 30px;
  height: 800px;
  width: 950px;
  position: relative;
}

#pig_shell{
  position: absolute;
  z-index: -1;
}

#ham{
  left: 605px;
  top: 130px;
}

#loin {
  left: 430px;
  top: 105px;
}

#butt {
  left: 285px;
  top: 115px;
}

#jowl {
  top: 320px;
  left: 170px;
}

#shoulder {
  top: 300px;
  left: 280px;
}

#belly {
  top: 334px;
  left: 420px;
}

#ribs {
  top: 285px;
  left: 430px;
}

#aboutHam, #aboutLoin, #aboutButt, #aboutJowl, #aboutShoulder, #aboutBelly, #aboutRibs {
  display: none;
  border-bottom: 5px solid black;
  border: 10px solid #303030;
  margin: 30px;
  padding: 30px;
}

.info_img {
  width: 150px;
  height: 150px;
}

.subPrimal {
  width: 25%;
  margin-right: 10px;
}

.header {
  font-weight: bold;
}

.recipes {
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0;
}

h4 {
  text-decoration: underline;
  font-size: 1.2em;
  margin-bottom: 5px;
}

li a{
  color: #303030;
  text-decoration: none;
}

table{
  margin-bottom: 30px;
  font-size: 1.2em;
}

footer {
  margin-bottom: 30px;
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  padding-right: 5px;
}


/* Mobile Responsive Version Here */

@media screen and (max-width: 768px) {
  body {
    width: 97%;
  }


}

